@using ACS.Admin.Auth
@model ACS.Shared.Models.Target

@{
    ViewData["Title"] = "Edit Target";

    bool isAdmin = User.IsInRole(UserRole.Administrator);
    bool isEditor = User.IsInRole(UserRole.Editor);
    bool inputReadonly = !(isAdmin || isEditor);
}

<h1>Edit</h1>

<h4>Target</h4>
<hr />
<div class="row">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Enabled" readonly="@inputReadonly" /> @Html.DisplayNameFor(model => model.Enabled)
            </label>
        </div>
        <div class="form-group col-md-1">
            <label asp-for="Id" class="control-label"></label>
            <div class="form-control">@Html.DisplayFor(model => model.Id)</div>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="AgentName" class="control-label" readonly="@inputReadonly"></label>
            <input asp-for="AgentName" class="form-control" readonly="@inputReadonly" />
            <span asp-validation-for="AgentName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" readonly="@inputReadonly" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="form-group col-sm-4">
                    <label asp-for="AgentMinVersion" class="control-label"></label>
                    <input asp-for="AgentMinVersion" class="form-control" readonly="@inputReadonly" />
                    <span asp-validation-for="AgentMinVersion" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="AgentMaxVersion" class="control-label"></label>
                    <input asp-for="AgentMaxVersion" class="form-control" readonly="@inputReadonly" />
                    <span asp-validation-for="AgentMaxVersion" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="UserNamePattern" class="control-label"></label>
            <input asp-for="UserNamePattern" class="form-control" readonly="@inputReadonly" />
            <span asp-validation-for="UserNamePattern" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="ActiveUserNamePattern" class="control-label"></label>
            <input asp-for="ActiveUserNamePattern" class="form-control" readonly="@inputReadonly" />
            <span asp-validation-for="ActiveUserNamePattern" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="HostNamePattern" class="control-label"></label>
            <input asp-for="HostNamePattern" class="form-control" readonly="@inputReadonly" />
            <span asp-validation-for="HostNamePattern" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="HostRolePattern" class="control-label"></label>
            <input asp-for="HostRolePattern" class="form-control" readonly="@inputReadonly" />
            <span asp-validation-for="HostRolePattern" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="EnvironmentNamePattern" class="control-label"></label>
            <input asp-for="EnvironmentNamePattern" class="form-control" readonly="@inputReadonly" />
            <span asp-validation-for="EnvironmentNamePattern" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="Created" />
        <input type="hidden" asp-for="CreatedBy" />
        <input type="hidden" asp-for="Modified" />
        <input type="hidden" asp-for="ModifiedBy" />
        <br />
        @{
            await Html.RenderPartialAsync("_FragmentSelectionList");
        }
        <div class="form-group">
            @if (isAdmin || isEditor)
            {
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            }
            else
            {
                <a asp-action="Index" class="btn btn-secondary">Close</a>
            }

            @if (isAdmin || isEditor)
            {
                <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger delete">Delete</a>
            }
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_TooltipScriptsPartial");
    }
}
