@using ACS.Admin.Auth
@model ACS.Shared.Models.Fragment

@{
    ViewData["Title"] = "Edit Fragment";

    bool isAdmin = User.IsInRole(UserRole.Administrator);
    bool isEditor = User.IsInRole(UserRole.Editor);
    bool inputReadonly = !(isAdmin || isEditor);
}

<h1>Edit</h1>

<h4>Configuration Fragment</h4>
<hr />
<div class="row">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Enabled" readonly="@inputReadonly" /> @Html.DisplayNameFor(model => model.Enabled)
            </label>
        </div>
        <div class="form-group col-md-1">
            <label asp-for="Id" class="control-label"></label>
            <div class="form-control">@Html.DisplayFor(model => model.Id)</div>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" readonly="@inputReadonly" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group col-md-1">
            <label asp-for="Priority" class="control-label"></label>
            <input asp-for="Priority" class="form-control" type="number" min="0" readonly="@inputReadonly" />
            <span asp-validation-for="Priority" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" readonly="@inputReadonly" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Value" class="control-label"></label>
            <div id="editor" asp-for="Value" class="form-control"></div>
            <textarea id="editorInput" asp-for="Value" hidden></textarea>
            <span asp-validation-for="Value" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="Created" />
        <input type="hidden" asp-for="CreatedBy" />
        <input type="hidden" asp-for="Modified" />
        <input type="hidden" asp-for="ModifiedBy" />
        <br />
        @{
            await Html.RenderPartialAsync("_TargetSelectionList");
        }
        <div class="form-group">
            @if (isAdmin || isEditor)
            {
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            }
            else
            {
                <a asp-action="Index" class="btn btn-secondary">Close</a>
            }
            
            @if (isAdmin || isEditor)
            {
                <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger delete">Delete</a>
            }
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_TextEditorScriptsPartial");
        await Html.RenderPartialAsync("_TooltipScriptsPartial");
    }
}
