@using ACS.Shared.Models
@{
    IEnumerable<FragmentSelection> fragmentSelections = ViewBag.FragmentSelections;
}

<h3>Linked configuration fragments</h3>
<table class="table">
    <thead>
        <tr>
            <th class="col-sm-1">Linked</th>
            <th class="col-sm-2">Fragment Id</th>
            <th class="col-sm-5">Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @fragmentSelections)
        {
            <tr>
                <td>
                    <input class="form-check-input" asp-for="@item.Linked" value="@item.Fragment.Id" name="linkedFragmentIds" />
                </td>
                <td>
                    <a asp-controller="Fragments" asp-action="Edit" asp-route-id="@item.Fragment.Id" target="_blank">@item.Fragment.Id</a>
                </td>
                <td class="col col-5">@item.Fragment.Description</td>
            </tr>
        }
    </tbody>
</table>